In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [5]:
df = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/EHQ10/CSV/1.0/en')
df

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02741V03309,Sub Sector,UNIT,VALUE
0,EHQ10C01,Employment,20081,2008Q1,01,Civil service,Number,41700.00
1,EHQ10C01,Employment,20081,2008Q1,02,Defence,Number,11200.00
2,EHQ10C01,Employment,20081,2008Q1,03,Garda Siochana,Number,14900.00
3,EHQ10C01,Employment,20081,2008Q1,04,Education,Number,116100.00
4,EHQ10C01,Employment,20081,2008Q1,05,Regional bodies,Number,38900.00
...,...,...,...,...,...,...,...,...
5363,EHQ10C08,Average hourly total labour costs,20231,2023Q1,07,Semi-State companies,Euro,37.35
5364,EHQ10C08,Average hourly total labour costs,20231,2023Q1,09,Commercial Semi-State companies,Euro,37.74
5365,EHQ10C08,Average hourly total labour costs,20231,2023Q1,10,Non commercial Semi-State companies,Euro,36.47
5366,EHQ10C08,Average hourly total labour costs,20231,2023Q1,-,Total Public Sector including Semi State bodies,Euro,37.64
5367,EHQ10C08,Average hourly total labour costs,20231,2023Q1,08,Total Public Sector excluding Semi State bodies,Euro,37.68

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        5368 non-null   object
 1   Statistic Label  5368 non-null   object
 2   TLIST(Q1)        5368 non-null   int64
 3   Quarter          5368 non-null   object
 4   C02741V03309     5368 non-null   object
 5   Sub Sector       5368 non-null   object
 6   UNIT             5368 non-null   object
 7   VALUE            5368 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 335.6+ KB